body {
    margin: 0;
    font-family: sans-serif;
    background-color: #b4eae8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.left {
    max-width: 40%;
}

.badge {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    margin: 0 0 20px;
}

p {
    font-size: 16px;
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 4px;
}

.button {
    display: inline-block;
    background-color: #3d63ff;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.right img {
    max-width: 550px;
    border-radius: 8px;
    
}
