.container {
    max-width: 800px;
    margin: 0 auto;
}
.card {
    background-color: beige;
    padding: 10px;
    border: 1px solid rgb(224, 224, 132);
    border-radius: 12px;
    width: 300px;
}


.row {
    display: flex;
    gap: 12px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

body {
    background-color: gray;
}

.card img {
    border-radius: 12px;
}

.second-section .row {
    align-items: center;
}